footer{


    
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #313131 !important;
}

footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.socail{


    font-size: 40px;
}

footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}

footer ul.social li{
	padding: 3px 0;
}

footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

footer ul.social li:hover a i {
	font-size:30px;
    margin-top:-10px;
    color:#f32f7b;
}

footer ul.social li a,
footer ul.quick-links li a{
	color:#ffffff;
}

footer ul.social li a:hover{
	color:#f32f7b;
}

footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:10px;
    font-weight:700;
}
footer ul.quick-links li a i{
	margin-right: 5px;
}
footer ul.quick-links li:hover a i {
    font-weight: 700;
    color:#f32f7b;
}

@media (max-width:767px){
	footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

footer a:hover{

    color:#f32f7b;

}